<!doctype html>
<html>
<head>
    <title>Tvmon</title>
    <style>
body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
video {
    flex: 1;
    width: 50%;
    height: 50%;
    cursor: pointer;
}
video.muted {
    opacity: 0.75;
}
video.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
    </style>
    <script src="https://hls-js.netlify.app/dist/hls.js"></script>
    <script type="text/javascript">

var use_proxy = {{ proxy }};

function render(r) {
    var v = document.createElement('video');
    if (r != null) {
        v.id = Object.keys(r)[0];
    }
    document.body.appendChild(v);
    if (r != null) {
        if (use_proxy) {
            var url = "/m3u8_proxy/" + v.id;
        } else {
            var url = Object.values(r)[0].url;
        }
        play(v, url);
    }
}

function play(el, url) {
    var video = el;
    if(Hls.isSupported()) {
        var hls = new Hls({
            debug: true
        });
        hls.loadSource(url);
        hls.attachMedia(video);
        hls.on(Hls.Events.MEDIA_ATTACHED, function() {
            video.muted = true;
            video.play();
            try {
                if (views.length > 1) {
                    video.muted = false;
                    video.play();
                }
            } catch (e) {console.warn(e);}
        });
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = url;
        video.addEventListener('canplay', function() {
            video.play();
        });
    }
    var timer = null;
    var expireTimer = null;
    var lastTime = 0;
    var stallFunc = function() {
        if (!video.paused && video.currentTime == lastTime) {
            console.warn("STALLED "+el.id);
            var oldsrc = ''+video.src;
            video.src = '';
            setTimeout(function() {
                video.src = oldsrc;
            }, 500);
        }
    }

    var expireFunc = function() {
        if (!video.paused && video.currentTime == lastTime) {
            console.warn("EXPIRE STALLED "+el.id);
            fetch("/expire/" + el.id)
                .then(r1 => r1.text())
                .then(r1 => {
                    console.warn("expired " + el.id + " " + r1);
                    video.src = '';
                    fetch("/m3u8/" + el.id)
                        .then(r => r.json())
                        .then(r => {
                            var newurl = Object.values(r)[0];
                            console.warn("new url " + newurl, r)
                            if (use_proxy) {
                                play(el, "/m3u8_proxy/" + el.id);
                            } else {
                                play(el, newurl);
                            }
                        });
                });
        }
    }
    video.addEventListener("timeupdate", function() {
        clearTimeout(timer);
        clearTimeout(expireTimer);
        lastTime = video.currentTime;
        timer = setTimeout(stallFunc, 6000);
        expireTimer = setTimeout(expireFunc, 30000);
    });
    if (views.length > 1) {
        el.classList.add('muted');
    } else {
        el.muted = false;
    }
    el.onclick = function() {
        document.querySelectorAll("video").forEach(function(el2) {
            if (el == el2 && el2.muted) {
                el2.muted = false;
                el2.classList.remove('muted');
            } else {
                el2.muted = true;
                el2.classList.add('muted');
            }
        });
    }
    el.ondblclick = function() {
        document.querySelectorAll("video").forEach(function(el2) {
            if (el == el2 && !el2.classList.contains('expanded')) {
                el2.classList.add('expanded');
                el2.muted = false;
                el2.classList.remove('muted');
            } else {
                el2.classList.remove('expanded');
            }
        });
    }
}

var views = location.search.substr(1).split(',');
var data = [];
var loaded = 0;
function prep(i, r) {
    data[i] = r;
    loaded++;
    console.log('prep', i, r, data);
    if (loaded >= views.length) {
        document.querySelector(".loading-div").remove();
        for (var i=0; i<loaded; i++) {
            render(data[i]);
        }

        // Add an empty square if there are 3 streams
        if (loaded == 3) render(null);
    }
}

window.onload = function() {
    if (!views || views.length == 0 || views.length == 1 && !views[0]) {
        location.href = '/channels';
        return;
    }
    for (var i=0; i<views.length; i++) {
        (function(i) {
            fetch("/m3u8/" + views[i])
                .then(r => r.json())
                .then(r => {
                    prep(i, r);
                });
        })(i);
    }
}
    </script>
</head>
<body>
    <div class="loading-div"><center><h1>Loading streams...</h1></center></div>
</body>
</html>